/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'palette';
@import 'controls';
@import 'nav';
@import 'container';
@import url('https://fonts.googleapis.com/css?family=Raleway:500,600');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0;

  .alert {
    margin: auto;
    width: 800px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 15px;

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      font-weight: 500;
    }
  }

  .alert-alert {
    border: 1px solid $warning;
    background-color: rgba(225, 88, 100, .2);
  }
  .alert-notice {
    border: 1px solid $secondary;
    background-color: rgba(144, 144, 149, .2);
  }
  .alert-success {
    border: 1px solid $secondary;
    background-color: rgba(50, 130, 132, 0.2);
  }
}

main {
  max-width: 900px;
  min-height: 60vh;
  margin: auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  .container-600 {
    @include container-600;
  }

  hr {
    color: $dark;
    margin: 15px 0 15px 0
  }
  h2 {
    text-align: left;
    color: $dark;
  }

  form {
    align-self: center;

    .field {
      width: 100%;
      margin: auto;
      padding: 10px 0px 5px 0px;

      input {
        @include txt-input;
      }
      textarea {
        @include txt-input;
      }
      input[type=checkbox] {
        @include chkbox;
      }
      label[for=user_remember_me] {
        @include chkbox;
      }
    }

    .actions {
      input {
        @include btn($primary);
        &:hover {
          background-color: $secondary;
        }
      }
    }
  }

  .btn-standard {
    @include btn($primary);
    &:hover {
      background-color: $secondary;
    }
  }
  .btn-warning {
    @include btn($warning);
    &:hover {
      background-color: $warning-faded;
    }
  }
}

.app-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid $primary;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 1px 1px 4px $muted;
  padding: 0;
  margin: 5px 10px 20px 10px;

  .item-details {
    width: 100%;
    align-self: flex-start;
    .list-item-header {
      background-color: $primary;
      padding: 8px;
      margin-top: 0px;
      transition: background-color 0.4s, color 0.5s;

      .list-item-link {
        text-decoration: none;
        color: $light;
        font-weight: bold;
      }

      &:hover {
        background-color: $secondary;
        color: $dark;
      }
    }
    .list-item-body {
      padding: 0 8px 0 8px;
    }
  }

  .app-chart {
    flex-grow: 1;
    width: 90%;
    max-height: 150px;
    align-self: flex-end;
    overflow-y: hidden;
  }

}

.controls-show {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: baseline;
}
.container-show {
  margin: 15px;
  padding: 10px;
  min-height: 150px;
  border-radius: 4px;
  background-color: $muted-faded;

  * {
    margin: 8px 10px 5px 10px;
  }
  h1, h2 {
    color: $dark;
  }
}
.event-list {
  max-width: 90%;
  margin: auto;
  padding-top: 15px;

  .event-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px 5px 12px;

    * {
      margin: 5px;
    }
  }
  .event-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px 4px 15px;
    box-shadow: 1px 1px 3px $dark-faded;
    margin-bottom: 8px;
    box-sizing: border-box;
  }
}
