/* Coolors Exported Palette - coolors.co/05a58d-909095-e9e7e9-4f3558-328284 */

/* RGB */
$primary: rgba(5, 165, 141, 1);
$muted: rgba(144, 144, 149, 1);
$light: rgba(234, 236, 243, 1);
$dark: rgba(79, 53, 88, 1);
$secondary: rgba(50, 130, 132, 1);
